@charset "UTF-8";
html,
body {
  background-color: black;
  color: white;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_left, header .header_right {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header .header_left > li > a, header .header_right > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s;
}
header .header_left > li > a:hover, header .header_right > li > a:hover {
  border-bottom: 2px solid #fff;
}
header .header_left > li {
  padding: 10px 0 0 20px;
}
header .header_right > li {
  padding: 10px 20px 0 0;
}
header .header_logo {
  width: 50px;
  height: 50px;
}

/* main_visual */
.main_visual {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main_visual > video {
  width: 100%;
  position: absolute;
}
.main_visual .app_link {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_visual .app_link .app_icon {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  margin: 0 0 100px;
  border: 2px solid rgb(212, 212, 212);
}
.main_visual .app_link .app_url {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.catchphrase {
  text-align: center;
  margin: 150px 0 200px;
  font-size: 25px;
}

/* section */
section {
  margin: 100px 0;
}
section .section-headline {
  font-size: 70px;
}

.sub_visual {
  position: relative;
}
.sub_visual .sub_visual_image > img {
  width: 100%;
}
.sub_visual > .section-headline {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
}
.sub_visual > .section-headline.section-headline-left {
  top: 0;
  left: 0;
  margin: 50px 0 0 50px;
}
.sub_visual > .section-headline.section-headline-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0 0 0;
}
.sub_visual > .section-headline.section-headline-right {
  top: 0;
  right: 0;
  margin: 50px 50px 0 0;
}

/* pv */
.pv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pv .section-headline {
  margin: 0 0 100px;
}
.pv .movie {
  border: 2px solid #fff;
}

/* content */
.content .section-headline {
  text-align: center;
  margin: 0 0 100px;
}
.content .swiper {
  width: 75%;
  border: 5px solid #fff;
}
.content .swiper .swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  padding: 30px 30px;
}
.content .swiper .swiper-wrapper .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  text-align: center;
}
.content .swiper .swiper-wrapper .swiper-slide > img {
  border: 2px solid #333;
}
.content .swiper .swiper-button-prev {
  color: #fff;
}
.content .swiper .swiper-button-next {
  color: #fff;
}

/*
footer
*/
footer {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
}
footer .sns_icon {
  margin: 30px 50px;
}
footer .sns_icon a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}
footer .sns_icon .twitter_icon::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  padding-right: 5px;
}
footer .sns_icon .instagram_icon::before {
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  padding-right: 5px;
}
footer .sns_icon .tiktok_icon::before {
  content: "\e07b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  padding-right: 5px;
}
footer .copyright {
  margin: 30px 50px;
}
/*# sourceMappingURL=stylesheet.css.map */